@model P16OWWiki2.Models.Heroe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Heroe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocupa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afiliacion1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afiliacion1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afiliacion2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afiliacion2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nomfoto)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Fotos/@Html.DisplayFor(modelItem => modelItem.Nomfoto)" height="200" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
