@model P16OWWiki2.ViewModels.BuscaVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Heroes" asp-action="index">

    <p>
        Nombre: <input type="text" name="BNom"/>
        <select asp-for="BRol" asp-items="Model.LosRoles">
            <option value="">Roles</option>
        </select>
        <select asp-for="BAfi" asp-items="Model.LasAfiliaciones">
            <option value="">Afiliaciones</option>
        </select>
        <select asp-for="BNac" asp-items="Model.LasNacionalidades">
            <option value="">Nacionalidades</option>
        </select>
        <input type="submit" value="Buscar" class="btn btn-primary" />
    </p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LosHeroes[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LosHeroes[0].RNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LosHeroes[0].Afiliacion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LosHeroes[0].Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LosHeroes[0].Nomfoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LosHeroes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Afiliacion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                <img src="~/Fotos/@Html.DisplayFor(modelItem => item.Nomfoto)" height="100" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
